.relister-body {
  padding: 2.4rem 0;
}

.heading {
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
}

.login-container {
  width: 22rem;
}

.main-section {
  max-width: 80rem;
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.flex-wrap {
  flex-wrap: wrap;
}

.field-header {
  min-height: 4.8rem;
}

.uploaded-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center
}

.button-primary {
  display: inline-block;
  position: relative;
  outline: 0;
  text-align: center;
  cursor: pointer;
  height: 34px;
  padding: 0 13px;
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all .3s ease;
  background: #c13209;
  border-color: #c13209;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 11px;
}

.button-settings {
  position: absolute;
  top: 2rem;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 26px;
}

.button-back {
  position: absolute;
  top: 2rem;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 26px;
}

.button-primary:hover {
  background: #e4461b;
  border-color: #e4461b;
}

.button-primary:active {
  background: #8b1e00;
  border-color: #8b1e00;
}

.button-primary[disabled],
.button-primary[disabled]:hover {
  background: #b79090;
  border-color: #b79090;
}

label[required] {
  position: relative;
}

label[required]:after {
  position: absolute;
  content: '*';
}

.layout-row > label[required]:after {
  position: absolute;
  right: -9px;
  content: '*';
}

.invalid label[required]:after {
  color: #e4461b;
}

.invalid input[required],
.invalid select[required],
.invalid textarea[required] {
  border: 2px solid #e4461b;
}

/* Utility classes */
.mt-4 {
  margin-top: .4rem;
}

.mt-8 {
  margin-top: .8rem;
}

.mt-12 {
  margin-top: 1.2rem;
}

.mt-16 {
  margin-top: 1.6rem;
}

.mt-24 {
  margin-top: 2.4rem;
}

.mt-32 {
  margin-top: 3.2rem;
}

.mr-4 {
  margin-right: .4rem;
}

.mr-8 {
  margin-right: .8rem;
}

.mr-12 {
  margin-right: 1.2rem;
}

.mr-16 {
  margin-right: 1.6rem;
}

.mr-24 {
  margin-right: 2.4rem;
}

.mr-32 {
  margin-right: 3.2rem;
}

.mb-4 {
  margin-bottom: .4rem;
}

.mb-8 {
  margin-bottom: .8rem;
}

.mb-12 {
  margin-bottom: 1.2rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.mb-32 {
  margin-bottom: 3.2rem;
}

.ml-4 {
  margin-left: .4rem;
}

.ml-8 {
  margin-left: .8rem;
}

.ml-12 {
  margin-left: 1.2rem;
}

.ml-16 {
  margin-left: 1.6rem;
}

.ml-24 {
  margin-left: 2.4rem;
}

.ml-32 {
  margin-left: 3.2rem;
}