html, body {
  position: relative;
  width:100vw;
  height:100vh;
  margin:0;
  background: #263238;
  font-family: helvetica;
}

body {
  margin: 4rem 12rem;
  color: white;
}

.text-align-center {
  text-align: center;
}